body {
  background-color: #C5CFC6;
  color: #696969;
}

hr {
  border-color: #9D9D93;
  border-style: dotted none none none;
  border-width: 7px;
  width: 5%;
}

table {
  padding: 15px;
  text-align: left;
}

img {
  border-radius: 100%;
}

/* Text */

h1 {
  color: #474843;
}

h3 {
  color: #474843;
}

a {
  color: #F8EDD1;
  text-decoration: none;
}

a:hover {
  background: #D88A8A;
}
