body {
  background-color: #625B63;
  color: #FDFCF8;
}

/* Sections */

div {
  padding: 10px;
}

.top-container {
  width: 1720px;
}

hr {
  border-color: #A88291;
  border-style: dotted none none none;
  border-width: 7px;
  width: 5%;
}

img {
  border-radius: 100%;
}

td {
  padding: 5px;
  text-align: left;
}

/* Text */

h1 {
  color: #FFE3F2;
}

h3 {
  color: #FFE3F2;
}

a {
  color: #BDB4CF;
  text-decoration: none;
}

a:hover {
  background: #A88291;
}
